<h3>Create an account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
    <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
    <app-input inputType="password" label="Password Confirm" [control]="authForm.get('passwordConfirmation')">
    </app-input>

    <div *ngIf="this.authForm.get('password')?.touched && this.authForm.get('passwordConfirmation')?.touched && this.authForm.errors"
        class="ui red basic label">
        <p *ngIf="authForm.errors?.['passwordsDontMatch']">
            Passwords do not match
        </p>
    </div>
    <div>
        <button class="ui submit button primary">
            Submit
        </button>
    </div>
</form>


<!-- {{authForm.get('username')?.errors | json}} 
{{authForm.get('password')?.errors | json}}
{{authForm.get('passwordConfirmation')?.errors | json}}
{{ authForm.errors | json}} -->